body{
    background-color: #d89640;
}
h2{
    margin-left: 800px;
}

.letra{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.box {
    width: 80%;
    background: linear-gradient(to left, #e6b779, #a98c65, #e3b87f);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    max-width:1000px;
    position: relative;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}
img{
    width:  500px;
}